
@font-face {
   font-family: myFont;
   src: url(fonts/Montserrat-Light.otf);
}

body {

  background-color: #010001;
  background-image: url(images/bg-copy.png);
  /* background-repeat: repeat; */
  background-size: auto;
}

.logo-reveal-anim img {

  width: 100%;
  display: block;
  margin: auto;
}

.logo-reveal-img img {

  width: 100%;
  display: block;
  margin: auto;
}

.logo-reveal-anim {

  display: block;
}

.logo-reveal-img {

  display: none;
}

.MainContent {

  display: none;
  margin-top: -100px;
}

.MainContent h2 {

  text-align: center;
  font-family: myFont;
  font-weight: 400;
  font-size: 18px;
  color: #f4f3f3;
}

.youtube-link {

  text-align: center;
  display: block;
  margin: auto;
  color: #abfe05;
}

.w3-animate-bottom {
  animation: floatup 3s forwards;
}

@keyframes floatup {

  from {transform: translateY(0);}
  to {transform: translateY(-100px);}
}

@media only screen and (max-width: 767px) {

  .web {

    margin-top: 34%;
  }

  .MainContent {

    margin-top: 70px;
  }

  .MainContent h2 {

    font-size: 14px;
  }
}

@media only screen and (max-width: 767px) {

  .web {

    margin-top: 50%;
  }
}
