
body {

  background-color: #010001;
  background-image: url(images/background.png);
  background-repeat: repeat;
  background-size: auto;
}

.logo-reveal-anim .mobile {

  display: none;
}

/* .pre-img {

  content: url(images/bingedom-logo-pre.png);
}

.web-anim {

  content: url(images/backgroundlogo-web.webp);
}

.post-img {

  content: url(images/bingedom-logo-post.png);
} */

.logo-reveal-img-pre img {

  width: 100%;
  display: block;
  margin: auto;
}

.logo-reveal-anim img {

  width: 100%;
  display: block;
  margin: auto;
}

.logo-reveal-img-post img {

  width: 100%;
  display: block;
  margin: auto;
}

.logo-reveal-img-pre {

  display: block;
}

.logo-reveal-anim {

  display: none;
}

.logo-reveal-img-post {

  display: none;
}

.MainContent {

  display: none;
  margin-top: -100px;
}

.MainContent h2 {

  text-align: center;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 18px;
  color: #f4f3f3;
}

.youtube-link {

  text-align: center;
  display: block;
  margin: auto;
  color: #abfe05;
}

.w3-animate-bottom {
  animation: floatup 3s forwards;
}

.fade-in {
  animation: fadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
  -moz-animation: fadeIn ease 4s;
  -o-animation: fadeIn ease 4s;
  -ms-animation: fadeIn ease 4s;
}

@keyframes floatup {

  from {transform: translateY(0);}
  to {transform: translateY(-100px);}
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 767px) {

  .web {

    margin-top: 34%;
  }

  .MainContent {

    margin-top: 70px;
  }

  .MainContent h2 {

    font-size: 14px;
  }
}

@media only screen and (max-width: 600px) {

  .web {

    margin-top: 50%;
  }

  .logo-reveal-anim .web {

    display: none;
  }

  .logo-reveal-anim .mobile {

    display: block;
  }
}
